  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header" translate="Menu.messages"></h1>
      </div>
  </div>

  <div class="row">
  	<div class="col-sm-12">
  			<!-- send email-->

  				<div class="panel panel-primary">
		  			<div 	class="panel-heading"
		  						style="cursor:pointer"
		  						data-toggle="collapse"
		  						data-target="#sendEmail"
		  						translate="SEND_EMAIL">
		  			</div>
		  			<div class="panel-body collapse" id="sendEmail">
		  				<send-email user="user" all-users="allUsers"></send-email>
		  			</div>
		  		</div>

		</div>
  </div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-green">
					  <!-- Default panel contents -->
					  <div class="panel-heading" translate="INBOX_MESSAGES"></div>

					  <div class="panel-body table-responsive">
					  	<!-- Table -->
					  	<div><h4 translate="UNREAD_MSG"></h4></div>
					  	<table class="table  table-hover table-resposive" >
						  	<thead>
							  	<tr>
							  		<th translate="DATE"></th>
										<th translate="Mail.from"></th>
										<th translate="Mail.subject"></th>
									</tr>
								</thead>
								<tbody>
							    <tr ng-repeat="mail in messages | filter: { type: 'inbox', unread: true }"
							    		ng-class="{'success': mail.unread === true}"
							    		ng-click="openMessage('new' ,mail._id)">
							    	<td>{{mail.date | date: 'MM/dd/yyyy \'at\' HH:mm'}}</td>
										<td>{{mail.from}}</td>
										<td>{{mail.message.subject}}</td>
									</tr>
								</tbody>
						  </table>
						  <hr>
						  <div><h4 translate="ALL_MSG"></h4></div>
						  <table class="table  table-hover table-resposive" datatable="ng" >
						  	<thead>
							  	<tr>
							  		<th translate="DATE"></th>
										<th translate="Mail.from"></th>
										<th translate="Mail.subject"></th>
									</tr>
								</thead>
								<tbody>
							    <tr ng-repeat="mail in messages | filter: { type: 'inbox', unread: false }"
							    		ng-click="openMessage('new' ,mail._id)">
							    	<td>{{mail.date | date: 'MM/dd/yyyy \'at\' HH:mm'}}</td>
										<td>{{mail.from}}</td>
										<td>{{mail.message.subject}}</td>
									</tr>
								</tbody>
						  </table>
					  </div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-yellow">
					  <!-- Default panel contents -->
					  <div class="panel-heading" translate="OUTBOX_MESSAGES"></div>

					  <div class="panel-body table-responsive">
					  	<!-- Table -->
						  <table class="table  table-hover table-resposive" datatable="ng" >
						  	<thead>
							  	<tr>
							  		<th translate="DATE"></th>
										<th translate="Mail.from"></th>
										<th translate="Mail.subject"></th>
									</tr>
								</thead>
								<tbody>
							    <tr ng-repeat="mail in messages | filter: { type: 'outbox' }"
							    		ng-click="openMessage('new' ,mail._id)">
							    	<td>{{mail.date | date: 'MM/dd/yyyy \'at\' HH:mm'}}</td>
										<td>{{mail.from}}</td>
										<td>{{mail.message.subject}}</td>
									</tr>
								</tbody>
						  </table>
					  </div>
					</div>
				</div>
			</div>
