
<div class="row">
	<div class="col-lg-12">
  	<h1 class="page-header" ng-bind="userName"></h1>
	</div>
</div>
<div class="row">
  	<div class="col-md-5">
  		<div>
				<img 	ng-if="user.avatar && files[0] == null"
							width="120"
							height="120"
							class="img-rounded center-block"
							ng-src="{{user.avatar}}">
				<img 	width="120"
							height="120"
							class="img-rounded center-block"
							ng-show="files[0] != null"
							ngf-src="files[0]"/>
  		</div>
  		<br>
  		<div class="text-center">
	  		<div class="btn-group">
					<button class="btn btn-success btn-xs"
							 		ngf-select ng-model="files"
							 		ngf-multiple="multiple">
							 		{{'SELECT_FILE' | translate}}
					</button>
					<button class="btn btn-danger btn-xs"
									ng-disabled="user.avatar == 'uploads/userDefault.jpg'"
									ng-click="deleteImage()">
									{{'DELETE_IMAGE' | translate}}
					</button>
					<button class="btn btn-danger btn-xs"
							 		ng-click="removeImage()">
							 		{{'CANCEL' | translate}}
					</button>
	  		</div>
  		</div>
  		<hr>
  		 <div class="row">
  			<div class="col-sm-4">
						<label class="label label-success" translate="User.lastLogin"></label>
				</div>
				<div class="col-sm-8">
					<input 	type="text"
					  			class="form-control"
					  			name="firstName"
					  			disabled="true"
					  			value="{{user.lastLogin | date: 'MM/dd/yyyy \'at\' HH:mm'}}"
					  			required="true">
				</div>
  		</div>
  		<div class="row">
  			<div class="col-sm-4">
						<label class="label label-success" translate="User.registered"></label>
				</div>
				<div class="col-sm-8">
					<input 	type="text"
					  			class="form-control"
					  			name="firstName"
					  			disabled="true"
					  			value="{{user.date | date: 'MM/dd/yyyy \'at\' HH:mm'}}"
					  			required="true">
				</div>
  		</div>
  		<br>
  		<form>
				<div class="row" ng-class="{'has-error': firstNameError}">
					<div class="col-sm-3">
						<label class="label label-primary" translate="User.firstName"></label>
					</div>
					<div class="col-sm-9">
					  	<input 	type="text"
							  			class="form-control"
							  			placeholder="first name"
							  			aria-describedby="basic-addon1"
							  			name="firstName"
							  			ng-model="user.name.first"
							  			ng-change="checkName('first')"
							  			required="true">
					  	<span class="text-danger" ng-show="firstNameError" ng-bind="firstNameErrorText"></span>
					</div>
				</div>
				<div class="row" ng-class="{'has-error': lastNameError}">
					<div class="col-sm-3">
						<label class="label label-primary" translate="User.lastName"></label>
					</div>
					<div class="col-sm-9">
					 	<input 	type="text"
					 			class="form-control"
					 			placeholder="last lame"
					 			aria-describedby="basic-addon2"
					 			name="lastName"
					 			ng-model="user.name.last"
					 			ng-change="checkName('last')"
					 			required="true">
					 	<span class="text-danger" ng-show="lastNameError" ng-bind="lastNameErrorText"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="label label-primary" translate="User.email"></label>
					</div>
					<div class="col-sm-9">
					  	<input 	type="email"
							  			class="form-control"
							  			aria-label="email"
							  			name="email"
							  			placeholder="email"
							  			ng-model="user.email"
							  			required="true">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="label label-primary" translate="User.age"></label>
					</div>
					<div class="col-sm-9">
					  	<input 	type="number"
							  			class="form-control"
							  			aria-label="age"
							  			name="age"
							  			placeholder="age"
							  			ng-model="user.age"
							  			required="true">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="label label-danger" translate="ROLES"></label>
					</div>
					<div class="col-sm-9">
						<div class="radio">
							<label>
								<input 	type="radio"
												id="userRoleDefault"
												ng-model="user.category"
												value="default">
								<span translate="Roles.default"</span>
							</label>
							<label>
								<input 	type="radio"
												id="userRoleDefault"
												ng-model="user.category"
												value="moderator">
								<span translate="Roles.moderator"</span>
							</label>
							<label>
								<input 	type="radio"
												id="userRoleDefault"
												ng-model="user.category"
												value="admin">
								<span translate="Roles.admin"</span>
							</label>
						</div>
					</div>
				</div>
				<hr>
				<button class="btn btn-success center-block"
					ng-click="updateUser()" translate="UPDATE">
				</button>
				<br>
  		</form>
  	</div>


  	<div class="col-md-7">
  			<!-- send email-->
  			<div>
  				<div class="panel panel-primary">
		  			<div 	class="panel-heading"
		  						style="cursor:pointer"
		  						data-toggle="collapse"
		  						data-target="#sendEmail"
		  						translate="SEND_EMAIL">
		  			</div>
		  			<div class="panel-body collapse" id="sendEmail">
		  				<send-email user="user" all-users="allUsers"></send-email>
		  			</div>
		  		</div>
  			</div>
  		<hr>
  	</div>
</div>