
<div class="row">
	<div class="col-lg-12">
  	<h1 class="page-header" ng-bind="userName"></h1>
	</div>
</div>
<div class="row">
  	<div class="col-md-5">
  		<div>
				<img 	ng-if="user.avatar && files[0] == null"
							width="120"
							height="120"
							class="img-rounded center-block"
							ng-src="{{user.avatar}}">
				<img 	width="120"
							height="120"
							class="img-rounded center-block"
							ng-show="files[0] != null"
							ngf-src="files[0]"/>
  		</div>
  		<br>
  		<div class="text-center">
	  		<div class="btn-group">
					<button class="btn btn-success btn-xs"
							 		ngf-select ng-model="files"
							 		ngf-multiple="multiple">
							 		{{'SELECT_FILE' | translate}}
					</button>
					<button class="btn btn-danger btn-xs"
									ng-disabled="user.avatar == 'uploads/userDefault.jpg'"
									ng-click="deleteImage()">
									{{'DELETE_IMAGE' | translate}}
					</button>
					<button class="btn btn-danger btn-xs"
							 		ng-click="removeImage()">
							 		{{'CANCEL' | translate}}
					</button>
	  		</div>
  		</div>
  		<hr>
  		 <div class="row">
  			<div class="col-sm-4">
						<label class="label label-success" translate="User.lastLogin"></label>
				</div>
				<div class="col-sm-8">
					<input 	type="text"
					  			class="form-control"
					  			name="firstName"
					  			disabled="true"
					  			value="{{user.lastLogin | date: 'MM/dd/yyyy \'at\' HH:mm'}}"
					  			required="true">
				</div>
  		</div>
  		<div class="row">
  			<div class="col-sm-4">
						<label class="label label-success" translate="User.registered"></label>
				</div>
				<div class="col-sm-8">
					<input 	type="text"
					  			class="form-control"
					  			name="firstName"
					  			disabled="true"
					  			value="{{user.date | date: 'MM/dd/yyyy \'at\' HH:mm'}}"
					  			required="true">
				</div>
  		</div>
  		<br>
  		<form>
				<div class="row" ng-class="{'has-error': firstNameError}">
					<div class="col-sm-3">
						<label class="label label-primary" translate="User.firstName"></label>
					</div>
					<div class="col-sm-9">
					  	<input 	type="text"
							  			class="form-control"
							  			placeholder="first name"
							  			aria-describedby="basic-addon1"
							  			name="firstName"
							  			ng-model="user.name.first"
							  			ng-change="checkName('first')"
							  			required="true"
							  			ng-disabled="!edit">
					  	<span class="text-danger" ng-show="firstNameError" ng-bind="firstNameErrorText"></span>
					</div>
				</div>
				<div class="row" ng-class="{'has-error': lastNameError}">
					<div class="col-sm-3">
						<label class="label label-primary" translate="User.lastName"></label>
					</div>
					<div class="col-sm-9">
					 	<input 	type="text"
					 			class="form-control"
					 			placeholder="last lame"
					 			aria-describedby="basic-addon2"
					 			name="lastName"
					 			ng-model="user.name.last"
					 			ng-change="checkName('last')"
					 			required="true"
					 			ng-disabled="!edit">
					 	<span class="text-danger" ng-show="lastNameError" ng-bind="lastNameErrorText"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="label label-primary" translate="User.email"></label>
					</div>
					<div class="col-sm-9">
					  	<input 	type="email"
							  			class="form-control"
							  			aria-label="email"
							  			name="email"
							  			placeholder="email"
							  			ng-model="user.email"
							  			required="true"
							  			ng-disabled="!edit">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="label label-primary" translate="User.age"></label>
					</div>
					<div class="col-sm-9">
					  	<input 	type="number"
							  			class="form-control"
							  			aria-label="age"
							  			name="age"
							  			placeholder="age"
							  			ng-model="user.age"
							  			required="true"
							  			ng-disabled="!edit">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="label label-danger" translate="ROLES"></label>
					</div>
					<div class="col-sm-9">
						<div class="radio">
							<label>
								<input 	type="radio"
												id="userRoleDefault"
												ng-model="user.category"
												value="default"
												ng-disabled="!edit">
								<span translate="Roles.default"</span>
							</label>
							<label>
								<input 	type="radio"
												id="userRoleDefault"
												ng-model="user.category"
												value="moderator"
												ng-disabled="!edit">
								<span translate="Roles.moderator"</span>
							</label>
							<label>
								<input 	type="radio"
												id="userRoleDefault"
												ng-model="user.category"
												value="admin"
												ng-disabled="!edit">
								<span translate="Roles.admin"</span>
							</label>
						</div>
					</div>
				</div>
				<hr>
				<div class="text-center">
					<div class="btn-group">
						<button class="btn btn-warning"
							ng-click="editEnable()" translate="EDIT">
						</button>
						<button class="btn btn-success"
							ng-click="updateUser()" translate="UPDATE">
						</button>
						<button class="btn btn-danger"
							ng-disabled="!edit"
							ng-click="deleteUser()"
							translate="DELETE_USER">
						</button>
					</div>
				</div>
				<br>
  		</form>
  	</div>


  	<div class="col-md-7">
  			<div class="panel panel-primary">
  				<div class="panel-heading">Account actions</div>
  				<div class="panel-body">
  					<div class="form-group">
              <label translate="ACCOUNT_STATUS"></label>
              <label class="radio-inline">
                  <input type="radio" ng-value="true" ng-model="user.active" ng-checked="user.active">{{'ACTIVE'
                  | translate}}
              </label>
              <label class="radio-inline">
                  <input type="radio" ng-value="false" ng-model="user.active" ng-checked="!user.active">{{'INACTIVE' | translate}}
              </label>
          	</div>
          	<div class="form-group">
	          	<label translate="BLOG_SUBSCRIBE"></label>
	              <label class="radio-inline">
	                  <input type="radio" ng-value="true" ng-model="user.blogSubscribe" ng-checked="user.blogSubscribe">{{'YES'
	                  | translate}}
	              </label>
	              <label class="radio-inline">
	                  <input type="radio" ng-value="false" ng-model="user.blogSubscribe" ng-checked="!user.blogSubscribe">{{'NO' | translate}}
	              </label>
              </div>
          	</div>
          	<div>
          		<button class="btn btn-success btn-sm center-block"
								ng-click="updateUser()" translate="UPDATE">
							</button>
							<br>
          	</div>
  				</div>
  			<!-- send email-->
				<div class="panel panel-primary">
	  			<div 	class="panel-heading"
	  						style="cursor:pointer"
	  						data-toggle="collapse"
	  						data-target="#sendEmail"
	  						translate="SEND_EMAIL">
	  			</div>
	  			<div class="panel-body collapse" id="sendEmail">
	  				<send-email user="user" all-users="allUsers"></send-email>
	  			</div>
	  		</div>
  		<hr>
  	</div>
</div>