  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Users</h1>
      </div>
  </div>

  <div class="row">
  	<div class="col-sm-12">
  		<div class="panel panel-primary" if="addUsersPanel">
  			<div class="panel-heading" style="cursor:pointer" data-toggle="collapse" data-target="#addUsers">Add new user</div>
  			<div class="panel-body collapse" id="addUsers">
  				<add-new-user></add-new-user>
  			</div>
  		</div>
		</div>
  </div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
					  <!-- Default panel contents -->
					  <div class="panel-heading" translate="USERS"></div>

					  <div class="panel-body table-responsive">
					  	<!-- Table -->
						  <table class="table  table-hover table-resposive" datatable="ng" >
						  	<thead>
							  	<tr>
										<th translate="User.fullName"></th>
										<th translate="User.email"></th>
										<th translate="User.avatar"></th>
										<th translate="User.active"></th>
									</tr>
								</thead>
								<tbody>
							    <tr ng-repeat="user in users"
							    		ng-click="openUser(user._id)">
										<td>{{user.name.first + ' ' + user.name.last}}</td>
										<td>{{user.email}}</td>
										<td><img width="50"
												 height="50"
												 class="img-rounded"
												 ng-src="{{user.avatar}}"/>
										</td>
										<td>
											<button type="button"
															class="btn btn-success btn-circle"
															ng-class="user.active ? 'btn-success' : 'btn-danger'">
															<i class="fa"
															   ng-class="user.active ? 'fa-check' : 'fa-times'"></i>
                      </button>
                    </td>
									</tr>
								</tbody>
						  </table>
					  </div>
					</div>
				</div>
			</div>
