  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Users</h1>
      </div>
  </div>

  <div class="row">
  	<div class="col-sm-12">
  		<div class="panel panel-primary">
  			<div class="panel-heading" style="cursor:pointer" data-toggle="collapse" data-target="#addUsers">Add new user</div>
  			<div class="panel-body collapse" id="addUsers">
  				<add-new-user></add-new-user>
  			</div>
  		</div>
		</div>
  </div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
					  <!-- Default panel contents -->
					  <div class="panel-heading" translate="USERS"></div>

					  <div class="panel-body table-responsive">
					  	<!-- Table -->
						  <table class="table  table-hover table-resposive" datatable="ng" >
						  	<thead>
							  	<tr>
							  		<th>id</th>
										<th translate="User.fullName"></th>
										<th translate="User.email"></th>
										<th translate="User.age"></th>
										<th translate="User.avatar"></th>
										<th translate="User.category"></th>
										<th translate="User.active"></th>
									</tr>
								</thead>
								<tbody>
							    <tr ng-repeat="user in users">
										<td>{{user._id}}</td>
										<td>{{user.name.first + ' ' + user.name.last}}</td>
										<td>{{user.email}}</td>
										<td>{{user.age}}</td>
										<td><img width="50"
												 height="50"
												 class="img-rounded"
												 ng-src="{{user.avatar}}"/>
										</td>
										<td>{{user.category}}</td>
										<td>{{user.active}}</td>
									</tr>
								</tbody>
						  </table>
					  </div>
					</div>
				</div>
			</div>
