doctype html
head
	title= title
	link(rel="stylesheet", type="text/css", href="bower_components/bootstrap/dist/css/bootstrap.css")
body
	.container
		h1= title
		a(href="/admin", class="btn btn-warning") admin panel

