  <div class="input-group custom-search-form globalSearch">
      <input  type="text"
              class="form-control"
              placeholder="{{'SEARCH' | translate}}"
              ng-model="searchText"
              ng-change="search()">
      <span class="input-group-btn">
      <img class="search-load" ng-show="showLoader && searchText.length > 0" width="20" src="img/loader.gif">
      <button class="btn btn-default" type="button">
          <i class="fa fa-search"></i>
      </button>
      </span>
      <div class="bt-search-block" ng-show="searchText.length > 0">
          <div ng-repeat="collection in searchData  track by $index">
            <span class="col-md-12 text-muted small"ng-show="collection.data.length > 0">{{collection.name}}</span>
            <div ng-click="openItem('/main/' + collection.name + '/' + searchItem._id)" ng-repeat="searchItem in collection.data track by $index">
              <div class="col-md-12 bt-search-item" ng-if="collection.name === 'messages'">
                <span class="small">{{searchItem.from}}</span>
                <span class="small">{{searchItem.to[0].name}}</span>
                <span class="small">{{searchItem.to[0].address}}</span>
              </div>
              <div class="col-md-12 bt-search-item" ng-if="collection.name === 'users'">
                <span class="small"><img width="20" src="{{searchItem.avatar}}"></span>
                <span class="small">{{searchItem.name.first}}</span>
                <span class="small">{{searchItem.name.last}}</span>
              </div>
            </div>
          </div>
        <div class="text-center" ng-show="noData()">no results found</div>
      </div>
  </div>