doctype html
head
	title= title
	link(rel="stylesheet", type="text/css", href="bootstrap/dist/css/bootstrap.css")
body
	.container
		h1= title
		script.
			var date = new Date();
			console.log(date)
		p today date is #{date}
		ul
			each user in users
				pre #{user}
		p add new item
		form(action="/api/users", method="post", class="form-horizontal")
			.form-group
				label(for="firstName", class="col-sm-2 control-label") First Name
				.col-sm-10
					input(type="text", name="firstName", class="form-control", id="firstName")
			.form-group
				label(for="lastName", class="col-sm-2 control-label") Last Name
				.col-sm-10
					input(type="text", name="lastName", class="form-control", id="lastName")
			.form-group
				label(for="number", class="col-sm-2 control-label") Phone number
				.col-sm-10
					input(type="number", name="age", class="form-control", id="number")
			.form-group
				label(for="email", class="col-sm-2 control-label") Email
				.col-sm-10
					input(type="email", name="email", class="form-control", id="email")
			input(type="submit", class="btn btn-success")
